{% load static %}
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abt_right_btm_wrapper">

                        <div class="sw_left_heading_wraper">
                            <h1>Our Values</h1>
                            <img src="{% static '' %}images/heading_line.png" alt="title">
                            <p>Sustainability. We deliver solutions which are economically advantageous and up to the highest expectations of our customers and partners.</p>
                        </div>
                        <div class="sw_left_heading_wraper">
                            <h1>Our vision</h1>
                            <img src="{% static '' %}images/heading_line.png" alt="title">
                            <p>Our vision is a clean energy running world.</p>
                        </div>
                        <div class="sw_left_heading_wraper">
                            <h1>Our Commitment</h1>
                            <img src="{% static '' %}images/heading_line.png" alt="title">
                            <p>We commit to bring the best environmentally friendly technologies and to keep developing renewable energy solutions.</p>
                        </div>
                    </div>
                </div>