{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="sw_left_heading_wraper">
                <h1>We Cover the Whole Spectrum</h1>
                <img src="{% static '' %}images/heading_line.png" alt="title">
            </div>
        </div>

        <!-- slider start -->
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
            <div class="spectrum_slider_wrapper">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="spectrum_slider_cntnt">
                            <div class="spectrum_slider_shadow">
                                <img src="{% static '' %}images/specs_1.png" alt="title" class="img-responsive">
                                <h2><a href="#">Solar Residential System</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="spectrum_slider_cntnt">
                            <div class="spectrum_slider_shadow">
                                <img src="{% static '' %}images/specs_2.png" alt="title">
                                <h2><a href="#">Solar Rural Area Solution</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="spectrum_slider_cntnt">
                            <div class="spectrum_slider_shadow">
                                <img src="{% static '' %}images/specs_3.png" alt="title" class="img-responsive">
                                <h2><a href="#">Energy Efficient Luminaries</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


