{% load static %}
<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="sw_disc_txt_wrapper">

        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
            <h1>Why Choose Energymitra</h1>
            <img src="{% static '' %}images/hd_line_dark.png" alt="title">
            <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
        </div>

        <div class="sw_leads_accordian">
            <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading desktop">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftone" aria-expanded="true">Our Infrastructure </a>
                        </h4>
                    </div>
                    <div id="collapseFifteenLeftone" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel">
                        <div class="panel-body">

                            <div class="panel_cont">
                                <p>We are backed by a well-furnished infrastructure that is equipped with the hi-tech machinery and tools. Our tools are upgraded as per the latest industrial developments by our meticulous team members. The infrastructure is spread in a large acre of land and divided into separate departments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading horn">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo" aria-expanded="false">Warehousing</a>
                        </h4>
                    </div>
                    <div id="collapseFifteenLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
                        <div class="panel-body">

                            <div class="panel_cont">
                                <p>We have a large and capacious warehousing facility, which helps us in storing the large quantities of products within the same timeframe. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading bell">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree" aria-expanded="false">Logistics</a>
                        </h4>
                    </div>
                    <div id="collapseFifteenLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
                        <div class="panel-body">

                            <div class="panel_cont">
                                <p>We have a logistics team that helps us in completing the distribution of our products timely and safely. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
