{% load static %}
<div class="sw_discver_wrapper">
        <div class="discover_overlay"></div>
        <div class="sw_banner_bottom_shap_img_wrapper">
            <img src="{% static '' %}images/image11.png" alt="shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_disc_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>Why Choose Energymitra.</h1>
                            <img src="{% static '' %}images/hd_line_dark.png" alt="title">
                            <p>We provide best in price and quality from rest of the market. </p>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-sun"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Quality Assurance</a></h5>
                                <p>Every product and project passes through our quality management team.
                                    <br> For long term working.</p>
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-wind-turbine"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Customer Support</a></h5>
                                <p>We are alawys happy to assist. 
                                    {% comment %} <br> 24*7 Our Helpline is open.</p> {% endcomment %}
                            </div>
                        </div>
                        <div class="sw_desc_btm_txt">
                            <div class="sw_disc_image">
                                <i class="flaticon-power"></i>
                            </div>
                            <div class="sw_disc_head_text">
                                <h5><a href="#">Extended Warrantee</a></h5>
                                <p>We deliver full replacement of component if Manufacturing defect is found.
                                    {% comment %} <br> elitam purus tellus fringilla.</p> {% endcomment %}
                            </div>
                        </div>
                        <div class="disc_btn">
                            <ul>
                                <li>
                                    <a href="#!" class="waves-effect waves-light waves-ripple">view all</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12 clm_img">
                    <div class="sw_right_img_wrapper">
                        <div class="sw_disc_img_overlay"></div>
                        <img src="{% static '' %}images/disc_lft_bg.jpg" alt="About" class="img-responsive sw_right_img_div">

                        <div class="sw_disc_img_btm">
                            <img src="{% static '' %}images/disc_lft.jpg" alt="About" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sw_banner_bottom_shap_img_wrapper">
            <img src="{% static '' %}images/image.png" alt="shape">
        </div>
    </div>