{% load static %}
<div class="sw_chose_service_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                    <div class="sw_left_heading_wraper sw_center_heading_wrapper">
                        <h1>Why Choose Us solar Energy</h1>
                        <img src="{% static '' %}images/heading_line.png" alt="title">
                        <p>There are many reasons why homeowners go solar, but improving the environment and cutting energy costs are the most common. Many people are aware that solar is a great home efficiency upgrade and are eager to reduce their carbon footprint while also improving property value.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="chose_text_wrapper_left">
                        <div class="chose_icon_wrapper_list">

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_1.png" alt="title">
                            </div>

                            <div class="chose_icon_content_left">
                                <h4><a href="#">Drastically reduce electric bills</a></h4>
                                <p>With a solar panel system, you’ll generate free power for your system’s entire 25+ year lifecycle. This will reduce your electricity bills</p>
                            </div>

                        </div>
                        <div class="chose_icon_wrapper_list">

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_2.png" alt="title">
                            </div>

                            <div class="chose_icon_content_left">
                                <h4><a href="#">Protect the environment</a></h4>
                                <p>Solar is a great way to reduce your carbon footprint. A typical residential solar panel system will eliminate 3 to 4 tons of carbon emissions each year==100 Trees annually</p>
                            </div>

                        </div>
                        <div class="chose_icon_wrapper_list">

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_6.png" alt="title">
                            </div>

                            <div class="chose_icon_content_left">
                                <h4><a href="#">Boost India's Energy Independence</a></h4>
                                <p>The sun is a near-infinite source of energy,By increasing our capacity to generate electricity from the sun, we can also insulate our country from price fluctuations in global energy markets.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 hidden-sm hidden-xs wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                    <div class="section2_img_wrapper">
                        <img class="img-responsive" src="{% static '' %}images/cs_service.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-sm hidden-xs">
                    <div class="chose_text_wrapper_right">
                        <div class="chose_icon_wrapper_list">
                            <div class="icon_content_right">
                                <h4><a href="#"> Great return on investment</a></h4>
                                <p>The average Indian homeowner pays off their solar panel system in 7 to 8 and sees an ROI of 20 percent or more.</p>
                            </div>

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_3.png" alt="title">
                            </div>

                        </div>
                        <div class="chose_icon_wrapper_list">

                            <div class="icon_content_right">
                                <h4><a href="#">Low Installation Costs</a></h4>
                                <p>Solar systems require almost no maintenance. All you need to do is annual cleaning so as to keep the panels in a good shape and make sure they last long</p>
                            </div>

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_4.png" alt="title">
                            </div>

                        </div>
                        <div class="chose_icon_wrapper_list">

                            <div class="icon_content_right">
                                <h4><a href="#">Easy Installation & Expand </a></h4>
                                <p>With solar today, you can start off small and add to your system over time as your budget increases.</p>
                            </div>

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_5.png" alt="title">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-sm visible-xs">
                    <div class="chose_text_wrapper_right">
                        <div class="chose_icon_wrapper_list">
                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_3.png" alt="title">
                            </div>
                            <div class="icon_content_right">
                                <h4><a href="#">Used for Many Purposes</a></h4>
                                <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                            </div>
                        </div>
                        <div class="chose_icon_wrapper_list">

                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_4.png" alt="title">
                            </div>

                            <div class="icon_content_right">
                                <h4><a href="#">Low Installation Costs</a></h4>
                                <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                            </div>
                        </div>
                        <div class="chose_icon_wrapper_list">
                            <div class="chose_icon_img_list">
                                <img src="{% static '' %}images/ser_img_5.png" alt="title">

                            </div>
                            <div class="icon_content_right">
                                <h4><a href="#">Easy Installation</a></h4>
                                <p>Quisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 visible-sm visible-xs">
                    <div class="section2_img_wrapper wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                        <img class="img-responsive" src="{% static '' %}images/cs_service.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>